<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NETUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NETUpdater.Properties.Settings>
      <!-- Удаленная директория с обновлениями -->
      <setting name="RemoteConfigPath" serializeAs="String">
        <value>https://raw.github.com/mevoronin/Updater.NET/devel/test_path/</value>
      </setting>
      <!-- Что запустить после проверки обновления -->
      <setting name="PostUpdateAction" serializeAs="String">
        <value>hello_world.txt</value>
      </setting>
      <!-- Название продукта, чтобы отделять конфиги разных программ -->
      <setting name="ProductName" serializeAs="String">
        <value>HelloWorld</value>
      </setting>
      <!-- Название локального файла с инфой о текущей версии-->
      <setting name="LocalConfigName" serializeAs="String">
        <value>local.xml</value>
      </setting>
      <!-- Дефолтный номер обновления-->
      <setting name="DefaultLocalPackageVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- Название файла, содержащего информацию об обновлении -->
      <setting name="RemoteConfigName" serializeAs="String">
        <value>update.xml</value>
      </setting>
    </NETUpdater.Properties.Settings>
  </userSettings>
</configuration>