<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NETUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AllowProxy" value="false" />
  </appSettings>
  <userSettings>
    <NETUpdater.Properties.Settings>
      <setting name="RemoteConfigPath" serializeAs="String">
        <value>c:\Users\M.Voronin\Documents\Projects\Updater.NET\test_path\</value>
      </setting>
      <setting name="PostUpdateAction" serializeAs="String">
        <value>hello_world.txt</value>
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value>HelloWorld</value>
      </setting>
      <setting name="LocalConfigName" serializeAs="String">
        <value>local.xml</value>
      </setting>
      <setting name="DefaultLocalPackageVersion" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RemoteConfigName" serializeAs="String">
        <value>update.xml</value>
      </setting>
    </NETUpdater.Properties.Settings>
  </userSettings>
</configuration>